{% extends "base.html" %}

{% block headadd %}
{% endblock %}

{% set active_page = "report" %}

{% block d3content %}
<form method="POST" action="/report" id="test_input" class="form-inline">
	Please enter the ticker you want to track from the S&amp;P 500:
	<br>
	<table cellpadding="10">
	<tbody>
	<tr>
	<td>
	<label class="checkbox">
		<input type="checkbox">
		GOOG
	</label></td>
	
	<td>
	<label class="checkbox">
		<input type="checkbox">
		AAPL    
	</label></td>
	
	<td>
	<label class="checkbox">
		<input type="checkbox">
		MSFT    
	</label></td>
	
	<td>
	<button type="submit" class="btn">
		Graph These Quotes!
	</button>
	</td>
	</tr>
	</tbody>
	</table>
</form>

{% endblock %}

{% block signoff %}
{% endblock %}